version: '3'

volumes:
    dcc-pgsql-volumes:
        external: true 
    dcc-redis-volumes:
        external: true
    dcc-pgadmin-volumes:
        external: true

networks:
    dcc_db_net:
        name: dcc_backend_networks
        ipam:
            driver: default
            config:
                - subnet: 172.99.0.0/16
                  gateway: 172.99.0.1

services:
    backend:
        build:
            dockerfile: "./backend/Dockerfile"
            context: "../"
            args:
                - web_mode=docker
        image: dcc/backend:1.0.0
        container_name: dcc-backend
        depends_on:
            - redis
            - pgsql
            # - migrate
        links:
            - redis
            - pgsql
        ports:
            - 9986:9986
        networks:
            dcc_db_net:
                ipv4_address: 172.99.0.10
        command: "./dcc_backend" 
    redis:
        image: "redis:7"
        container_name: dcc-redis
        restart: on-failure:3
        ports:
            - "6379:6379"
        environment:
            - ALLOW_EMPTY_PASSWORD=yes
        volumes: 
            - dcc-redis-volumes:/data
        networks:
            dcc_db_net:
                ipv4_address: 172.99.0.11
    pgsql:
        image: "postgres:14.5"
        container_name: dcc-pgsql
        restart: on-failure:3
        ports:
            - "5432:5432"
        volumes:
            - dcc-pgsql-volumes:/var/lib/postgresql/data:cached
            - ./pgsql-dump:/docker-entrypoint-initdb.d
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 123456
            POSTGRES_DB: dcc_game
            TZ : "UTC+0"
        cap_add:
            - SYS_NICE  # CAP_SYS_NICE
        networks:
            dcc_db_net:
                ipv4_address: 172.99.0.12
    # migrate:
    #     image: migrate/migrate
    #     container_name: dcc-pgsql-migrate
    #     depends_on:
    #         - pgsql
    #     links:
    #         - pgsql
    #     command: ["-path", "/migrations", "-database",  "postgres://postgres:123456@pgsql:5432/dcc_game?sslmode=disable", "up"]
    #     volumes:
    #         - ./db/migrations:/migrations
    #     networks:
    #         dcc_db_net:
    #             ipv4_address: 172.99.0.13
    pgadmin:
        image: dpage/pgadmin4
        container_name: dcc-pgadmin
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
            PGADMIN_CONFIG_SERVER_MODE: 'False'
        volumes:
            - dcc-pgadmin-volumes:/var/lib/pgadmin
        ports:
            - "${PGADMIN_PORT:-5050}:80"
        networks:
            dcc_db_net:
                ipv4_address: 172.99.0.14
        restart: unless-stopped

             